 2 
Alex Reynolds
A. Reynolds
 80 
 47 
 19 
 2 
 227 
 11 
 344 
 39 
 28 
 111 
 195 
 228 
 52 
 30 
 422 
 573 
 342 
 446 
 134 
 7 
 59 
 119 
 81 
 53 
 91 
 377 
 13 
 538 
 6 
 353 
 56 
 93 
 3 
 491 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
Last Caress
 0 
 16711724 
 0 
 75 
 60 

 0 
 0 
 0 
 0 
 77 
 0 
 1 
 2107424 
 344 
 5 
 75 
 69435672 
 0 
 125
works the crowd
executes a low blow
 242
 420
 0 


Southampton, New York
6'4"
athletic

 4 
 0 
 0 
 0 
 0 

 66 
-2000 
Ananya Clarke
A. Clarke
 410 
 17 
 15 
 539 
 582 
 26 
 38 
 2 
 590 
 79 
 598 
 363 
 31 
 529 
 559 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 

 0 
 0 
 0 
 1 
 20 

 0 
 0 
 0 
 0 
 1 
 0 
 1 
 6291456 
 0 
 4 
 1 
0








1
Llanelli, Wales
5'0"
lean







 0 
-2000 
James Beard
 0 
 8 
 0 
 1 
 1 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 1 


 0 


 0 
 1 
 1 
 0 
 0 
 1 
 1 
 2 
 0 
 0 
 0 
 1 
 0 
n
 1 
0
0


0
0

0
 0 
 1 

Mike Sparks
 0 
 14 
Charles Robinson
 0 
 9 


