appdirs==1.4.4
attrs==21.2.0
backports.zoneinfo==0.2.1
black==21.7b0
click==8.0.1
fancycompleter==0.9.1
iniconfig==1.1.1
mypy-extensions==0.4.3
packaging==21.0
pathspec==0.9.0
pdbpp==0.10.3
pluggy==0.13.1
psycopg2==2.9.1
pudb==2020.1
py==1.10.0
Pygments==2.9.0
pyparsing==2.4.7
pyrepl==0.9.0
pytest==6.2.4
regex==2021.8.3
toml==0.10.2
tomli==1.2.1
urwid==2.1.2
wmctrl==0.4
