 2 
Shane Taylor
S. Taylor
 107 
 2 
 219 
 69 
 15 
 337 
 108 
 189 
 42 
 379 
 387 
 220 
 29 
 37 
 250 
 561 
 59 
 537 
 24 
 459 
 411 
 81 
 366 
 463 
 512 
 446 
 104 
 64 
 131 
 265 
 3 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
Welcome to the Land
 0 
 247 
 3 
 78 
 83 

 0 
 0 
 0 
 0 
 77 
 0 
 4 
 2097249 
 411 
 5 
 80 
 198920 
 0 
 234 
works the crowd

 459 
 459 
 344 


Cleveland, Ohio
6'1"
bulky

 35 
 0 
 0 
 0 
 0 

 80 
-2000 
Brawler Milonas
B. Milonas
 2 
 15 
 60 
 28 
 220 
 314 
 14 
 37 
 107 
 532 
 408 
 110 
 104 
 425 
 414 
 659 
 64 
 113 
 105 
 3 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
Sitout Swinging Side Slam
 0 
 108 
 124 
 68 
 70 

 0 
 0 
 0 
 0 
 70 
 0 
 6 
 64 
 0 
 5 
 75 
 68354824 
 0 
 109 
works the crowd

 659 
 659 
 659 


Manchester, New Hampshire
6'4"
obese

 0 
 0 
 0 
 0 
 0 

 20 
-2000 
Earl Hebner
 8 
 5 
 0 
 1 
 1 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 1 


 0 


 0 
 1 
 1 
 0 
 0 
 1 
 1 
 2 
 0 
 0 
 0 
 1 
 0 
f
 1 
0
0


0
0

0
 248 
 0 

Andrew Thomas
 0 
 10 
Jimmy Korderas
 0 
 12 
ROH World Television Championship

