 4 
Sumie Sakai
Sakai
 39 
 61 
 13 
 892 
 267 
 218 
 2 
 95 
 89 
 184 
 30 
 39 
 23 
 87 
 684 
 355 
 89 
 115 
 4 
 124 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
Fisherman Buster
 0 
 4 
 269 
 75 
 70 

 0 
 0 
 0 
 0 
 78 
 0 
 1 
 2097153 
 115 
 5 
 85 
 67242240 
 0 
 0 
works the crowd

 0 
 0 
 0 

1
Yokkaichi, Japan
5'1"
athletic

17
 0 
 0 
 0 
 0 

 36 
-2000 
Kaho Kobayashi
Kaho
 32 
 553 
 278 
 761 
 227 
 31 
 174 
 800 
 641 
 712 
 158 
 459 
 537 
 130 
 720 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 

 0 
 0 
 0 
 90 
 1 

 0 
 0 
 0 
 0 
 70 
 0 
 1 
 0 
 0 
 4 
 50 
 0 
 0 
 0 


 0 
 0 
 0 

1
Kasukabe, Saitame, Japan
5'1"
athletic

 0 
 0 
 0 
 0 
 0 

 0 
-2000 
Tasha Steelz
T. Steelz
 14 
 31 
 19 
 2 
 18 
 219 
 15 
 79 
 39 
 353 
 12 
 89 
 220 
 267 
 29 
 310 
 37 
 30 
 407 
 250 
 48 
 330 
 451 
 130 
 59 
 91 
 364 
 13 
 513 
 449 
 90 
 467 
 16 
 6 
 64 
 95 
 56 
 3 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
OKURRR
 0 
 50 
 329 
 75 
 75 

 0 
 0 
 0 
 0 
 75 
 0 
 1 
 2097377 
 0 
 5 
 80 
 1247492 
 30605405 
 0 
works the crowd

 442 
 455 
 0 
"The Boricua Bad Ass" Tasha Steelz
1
the Brick City
5'4"
lean

 3 
 1 
 0 
 0 
 0 

 74 
-2000 
Angelina Love
A. Love
 133 
 31 
 47 
 461 
 2 
 18 
 147 
 28 
 108 
 261 
 379 
 213 
 220 
 191 
 267 
 14 
 37 
 30 
 48 
 59 
 7 
 107 
 91 
 873 
 104 
 10 
 16 
 6 
 165 
 281 
 3 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
 0 
Botox Injection
 45 
 0 
 563 
 77 
 80 

 0 
 0 
 0 
 0 
 80 
 0 
 1 
 2130145 
 0 
 6 
 80 
 67340604 
 24838536 
 321 
works the crowd
blinds her with hairspray
 130 
 130 
 344 

1
Toronto, Ontario, Canada
5'6"
lean

 17 
 0 
 0 
 0 
 0 

 66 
-2000 
Andrew Thomas
 0 
 10 
 0 
 1 
 1 
 4 
 0 
 0 
 0 
 0 
 0 
 0 
 1 


 0 


 2046 


 2046 


 2046 
 2 
 2 
 0 
 0 
 1 
 1 
 4 
 0 
 0 
 0 
 1 
 0 
f
 1 
0
0


0
0

0
 248 
 0 
No-Time-Limit-Four Corners Match
Nick Patrick
 0 
 9 
James Beard
 0 
 8 




